<h2>技術者じゃなくても簡単にデータのバックアップを取る方法</h2>
<div class="post-content">
    <p>
        フリーで作業している方向けに、データのバックアップを簡単にとる方法をご紹介します。デザイナー向けのGitによるバージョン管理方法なのでエンジニアの方には物足りない内容だとおもいます。とても簡単なのでGit初心者の方にはおすすめです。
    </p>
    <div class="inner">
        <h3>Git管理とは</h3>
        <blockquote>
            <p>
                Gitとは、分散型バージョン管理システムの一つで、もともとLinuxのソースコードを効果的に管理するために開発されました。
                <a href="https://backlog.com/ja/git-tutorial/intro/intro1_1.html">出展元：サルでもわかるGit入門</a>
            </p>
        </blockquote>
    </div>
    <div class="inner">
        <h3>GithubとBitbucketの使い分け</h3>
        <p>GitHub →　「無料」で「公開」リポジトリを無制限
            <br> Bitbucket/Atlassian →　「無料」で「非公開」リポジトリを無制限</p>
        <p>公開したくない情報は「Bitbucket」に記述していくことにしました。例えば作成中のWordpressのテンプレートとか自分のサイトのバックアップをこちらにして非公開設定をします。
            <br> そして、ブログにのせたいソースや単体で使いまわせるようなソースは公開環境のGithubにアップすることにしました。
        </p>
    </div>
    <div class="inner">
        <h3>ローカル環境もバージョン管理</h3>
        <p>これに加えてローカル環境では、Git初心者やさしいバージョン管理システム「SourceTree」を導入しました。</p>
    </div>
        <div class="inner">
        <h3>sourcetree はとても簡単ですが、要注意なポイント</h3>
        <p>
            Git管理しないとと思い、ネットで調べてSSH Keyをコマンドで別で作成してGitHub や Bitbucketに登録してしまうとエラーが出てしまいます。
            原因はSourceTreeでセットアップする時にSSH Keyが発行されてしまい二つの鍵が存在してしまうことにありました。
            解決策としてはコマンドでの操作は必要ないということ。
        </p>
    </div>
</div>
<h2>GitHub 参考サイト</h2>
<div class="post-content">
    <p>https://employment.en-japan.com/engineerhub/entry/2017/01/31/110000#%E7%92%B0%E5%A2%83%E3%81%AE%E6%A7%8B%E7%AF%891-%E3%83%AD%E3%83%BC%E3%82%AB%E3%83%AB%E7%92%B0%E5%A2%83%E3%81%A7Git%E3%82%92%E4%BD%BF%E3%81%88%E3%82%8B%E3%82%88%E3%81%86%E3%81%AB%E3%81%99%E3%82%8B</p>
</div>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<link rel="stylesheet" type="text/css" href="https://jmblog.github.io/color-themes-for-google-code-prettify/themes/tomorrow-night.min.css" media="all">