/*
Theme Name: sachix-01
Description:テーマの説明文
Theme URI: テーマと関連するページのURL
Author: 作成者
Author URI: 作成者と関連するページのURL
Version: バージョン
License: ライセンス
License URI: ライセンスのURL
*/

body{
    padding: 5rem 0 0 0 !important;
    margin: 0;
}
@media screen and (min-width:64em) {
body{    padding: 5rem 0 0 0 !important;
}
}
.container {
    max-width: 1200px !important;
}


/*-------------------
.category-icon


.category-icon a {
    color: #FFFFFF;
}

.category-icon.no {
    background-color: #333333;
}

.category-icon.child {
    background-color: #cc6666;
}

.category-icon.food {
    background-color: #660066;
}


.category-icon.goout {
    background-color: #336699;
}

.category-icon.plants {
    background-color: #339933;
}

.category-icon.blead {
    background-color: #cc6600;
}

-------------------*/

/* index.php
--------------------------------------------------------- */

.contener{
    width: 90%;
    max-width: 1024px;
    margin: auto;
}


@media screen and (min-width:64em) {

.contener .maincontener{
    float: left;
    width: 100%;
    margin-right: -300px;
}

.contener .maincontener .mainContent {
/*float: left;
width: 700px;
}*/
margin-right: 350px;
    margin-left: 0px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
 

}
.contener .maincontener .mainContent#sec-post main{
   /* padding: 30px 50px 30px;*/

}

.contener .sidecontener {}
.contener .sidecontener .sideContent{
/*float: left;
width: 250px;*/
float: right;
    width: 300px;
    padding: 0px;
}
}



/*-------------------
#sec-post article
-------------------*/

#sec-post article {
    margin: 0 0 3em 0;
    position: relative;
    display: block;
}

#sec-post article a {}

#sec-post article figure {
    /*padding: 0;
    margin: 0 0 10px 0;
    background: #fff;
    line-height: 0;
    */

       margin: 0;
        overflow: hidden;
    /*width: 320px; トリミングしたい枠の幅 */
    height: 200px;/* トリミングしたい枠の高さ */
    position: relative;
      margin-bottom: 0.5em;
}

#sec-post article figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

#sec-post article .postCategory {
    font-size: 0.8em;
}

#sec-post article .postTitle {
    font-size: 1.3em;
    padding: 0.5em 0 0 0;
    line-height: 1.5em;
    font-weight: bold;
}

#sec-post article a:hover .postTitle {
    text-decoration: underline;
}

#sec-post article time {
    font-size: 0.9em;
}

#sec-post .category-icon {
position: absolute;
    display: inline-block;
    padding: 0.2em 1em;
    top: 0.8em;
    left: 0.6em;
    /* border: 1px solid #333333; */
    background: #FFF;
    color: #333333;
    font-weight: bold;
    border-radius: 2em;
    vertical-align: middle;
    font-size: 0.9em;
}


@media screen and (min-width:64em) {
    #sec-post article {
        width: 300px;
       /* height: 260px;*/
        float: left;
        margin: 0 40px 50px 0;
    }
    #sec-post article:nth-child(even) {
        margin: 0 0 40px 0;
    }
    #sec-post article figure {
        width: 300px;
      
    }
}



/*-------------------
#post-entry figure
-------------------*/

#post-entry .img-area {
    position: relative;
    margin-top: 1em;
   /* background-color: #CCC;*/
}


#post-entry .contents .img-area .category-icon {
    position: absolute;
    display: inline-block;
    padding: 0.2em 0.6em;
    top: 0.5em;
    left: -0.5em;
    font-size: 0.8em;
}


#post-entry .img-area figure {
    margin: 0;

}

#post-entry .img-area figure img {
    width: 100%;
    margin: 0 auto;
}

#post-entry .title {
    margin-bottom: 1em;
}

#post-entry .title h1 {
    margin-bottom: 0.7em;
    font-size: 2em;
}

#post-entry .title time {
    font-size: 0.9em;
    color: #999999;
}

#post-entry .text-area h2 {
      font-size: 1.6em;
    font-weight: bold;
    /* margin-bottom: 1.25em; */
   /* margin-top: 2em;*/
    /* border-bottom: 3px solid #fe8ed9; */
    padding: 2em 0 2em 0;
    border-top: 3px solid #CCCCCC;
}

#post-entry .text-area h3 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em;
    border-left: 5px solid #333333;
    padding-left: 1em;
}

#post-entry .text-area p {
      margin-bottom: 2.5em;
    line-height: 2em;
}
#post-entry .text-area a{
    color: #366be0;
}

#post-entry .text-area a:hover{
    text-decoration: underline;
}

#post-entry .text-area p img {
    width: 90%;
}

#post-entry .text-area p strong{
    background: linear-gradient(transparent 50%, yellow 50%);

}
@media screen and (min-width:64em) {

#post-entry .img-area figure {
    margin: 0;
        overflow: hidden;
    /*width: 600px; トリミングしたい枠の幅 */
    height: 500px;/* トリミングしたい枠の高さ */
    position: relative;
}
#post-entry figure.wp-block-image{
    margin-bottom: 2em;
}
/*map*/
#post-entry .lazyloaded.g-map{
    margin-bottom: 2em;
}
#post-entry .img-area figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

#post-entry .text-area p img {
  width: 60%;
}
    }


#post-entry .text-area ul {
    border: 1px solid #CCCCCC;
    padding: 2em; 
    margin-bottom: 2em;

}
#post-entry .text-area ul li{
    margin-bottom: 0.5em;
}
#post-entry .text-area ul li:last-child{
    margin-bottom: 0;
}

.item-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* breadcrumb
--------------------------------------------------------- */

ul#breadcrumb {
 /*   width: 90%;
    max-width: 1024px;
    font-size: 0.8em;
    margin-bottom: 1em;
    /* margin: 3em auto 1.5em auto; */

 padding-bottom: 1em;
    color: #001EFF;
    font-size: 0.9em;
    width: 90%;
    margin: auto;
    max-width: 1024px;
}


ul#breadcrumb li {
    float: left;
}

ul#breadcrumb li:after {
    content: " > ";
    margin: 0 5px;
    font-size: 1.2em;
    -webkit-transform: scale(0.5, 1.0);
    -moz-transform: scale(0.5, 1.0);
    -ms-transform: scale(0.5, 1.0);
    transform: scale(0.5, 1.0);
    display: inline-block;
}
/*
ul#breadcrumb li:first-child:before {
    content: "";
    margin: 0;
}
*/
ul#breadcrumb li a{
    color: #366be0;
}

@media screen and (min-width:64em) {
    ul#breadcrumb {
     /*   margin: 0 auto 2em auto;*/
       /* margin: 3.5em auto 3em auto;*/
    }
}
/* tag
--------------------------------------------------------- */
.tags-area{margin: 1em 0; font-size: 0.9em; color: #CCCCCC;}
.tags-area .fa-tags{    color: #cc6699;
    padding-right: 1em;}
    .tags-area a{color: #cc6699;}

/* same-category
--------------------------------------------------------- */

.same-category{ margin: 3em 0 3em 0;
    width: 90%;
    max-width: 64em;
    margin: auto;}

.same-category h3 {
font-size: 1.2em;
    /* font-weight: bold; */
    padding: 1em 0;
}
.same-category h3 a{
    color: #fe8ed9;
}
.same-category ul li { margin-bottom: 1em;}
.same-category ul li img{ float: left; width: 50%; height: auto; }
.same-category ul li p{    width: 45%;
    float: left;
    padding-left: 5%;
font-size: 0.8em;}

@media screen and (min-width:64em) {
    .same-category{width: 100%;}
    .same-category ul li {width: 200px; float: left; margin-right: 2em;}
.same-category ul li img{ float:none; width: 100%; }
.same-category ul li p{float: none; width: 100%; padding: 0;}
}

/* google adsence 
--------------------------------------------------------- */

.adsbygoogle{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

/* #toc mokuji
--------------------------------------------------------- */

/*toc*/

#toc {
  margin: 30px 40px;
  padding: 20px;
  text-align: center;
  border: solid 1px #cc6699;
  background-color: #f9f9f9;
}
 
.mokuji {

}
 
#toc ol {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  text-align: left;
}
 
#toc ol li {
  font-size: .95em;
  margin-bottom: 1em;
  list-style-position: inside;
  color: #333333;
      list-style-type: decimal;
 
}
 
#toc ol a {
  text-decoration: none;
}
 
#toc ol a:hover {
    text-decoration: underline;
}
 
#toc ol>ol {
  margin: 0;
  padding-left: 15px;
}
 
#toc ol>ol li {
  font-size: 1em;
  font-weight: 500;
}
 
@media (max-width: 599px) {
  #toc {
    margin: 30px 0;
  }
}

/*ad area*/

.code-block-1{
    padding: 0 0 50px 0;
}

.code-block-2{
    padding: 50px 0 50px 0;
}

/*add 201807*/

.ggmap {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}
 
.ggmap iframe,
.ggmap object,
.ggmap embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}


footer{
    clear: both;
}


/*side ranking*/
.ranking-title{border-bottom: 2px solid #CCCCCC; padding: 0.2em; font-weight: bold; margin-bottom: 1em;}
.ranking{
margin-bottom: 1em;
}
.ranking .ranking-img{
    float: left;
    margin: 0 15px 0 0 ;
    overflow: hidden;
    height: 100px;
    position: relative;
    width: 100px;
}
.ranking .ranking-img img { 
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}
.ranking .ranking-text{
    font-size: 0.85em;


}

/*合わせて読みたい*/
.awasete{
    margin-bottom: 20px;
}
.awasete .awasete__title{
    border: none;
    margin: 0;
    padding: 0;
}
.awasete .awasete__title span{
    background: #333;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding:5px 10px;
}
.awasete .awasete__title i{
    margin-right: 5px;
}
.awasete .awasete__list{
    border: 1px solid #ccc;
    padding: 20px;
}
.awasete .awasete__list__item{
    list-style: none;
    margin:0 0 20px 0;
}
.awasete .awasete__list__item:last-child{
    margin-bottom: 0;
}
.awasete .awasete__list__item__link{
    text-decoration: none;
    box-shadow: none;
}
.awasete .awasete__list__item__link__image{
    float: left;
    margin: 0 15px 0 0 ;
    overflow: hidden;
    height: 100px;
    position: relative;
    width: 100px;
}
.awasete .awasete__list__item__link__image img{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}
.awasete .awasete__list__item__link__content{
   /* width: 75%;*/
}

.awasete .awasete__list__item__link__content__title{
    font-weight: bold;
}
.awasete .awasete__list__item__link__content__title:before{
    content: none;
}
.awasete .awasete__list__item__link__content__date{
    color: #666;
    font-size: 14px;
}

/*引用*/
blockquote {
    position: relative;
    padding: 30px 30px 8px 30px;
    box-sizing: border-box;
    font-style: italic;
    background: #efefef;
    color: #555;
    margin: 0 0 2em 0;
}
blockquote:before{
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 3px;
    vertical-align: middle;
    content: "“";
    font-family: sans-serif;
    color: #cfcfcf;
    font-size: 90px;
    line-height: 1;
}
blockquote p {
    padding: 0 !important;
    margin: 10px 0 !important;
    line-height: 1.7 !important;
    font-size: 0.9em;
}
blockquote p strong{
    font-size: 1em;
}
blockquote cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.7em;
}

.my-infomrmation{
    font-size: 0.8em;
    line-height: 1.5em;
   
    padding: 2em 2em;
    color: #333333;
    border: 1px solid #CCCCCC;
        margin-bottom: 3em;
}
.my-infomrmation .title{
    font-weight: bold;
    margin-bottom: 1em;
}
.my-infomrmation p{
    margin-bottom: 2em;
}