/*
Theme Name: sachix-03
Description:テーマの説明文
Theme URI: テーマと関連するページのURL
Author: 作成者
Author URI: 作成者と関連するページのURL
Version: バージョン
License: ライセンス
License URI: ライセンスのURL
*/

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs 
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
*/

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*garally*/

.wp-block-gallery .blocks-gallery-image img, .wp-block-gallery .blocks-gallery-item img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}
.wp-block-gallery .blocks-gallery-image figure, .wp-block-gallery .blocks-gallery-item figure {
    margin: 0;
    height: 100%;
}
.wp-block-gallery .blocks-gallery-image, .wp-block-gallery .blocks-gallery-item {
    width: calc((100% - 16px)/2);
}

.wp-block-gallery .blocks-gallery-image, .wp-block-gallery .blocks-gallery-item {
    margin: 0 16px 16px 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.wp-block-gallery.is-cropped .blocks-gallery-image a, .wp-block-gallery.is-cropped .blocks-gallery-image img, .wp-block-gallery.is-cropped .blocks-gallery-item a, .wp-block-gallery.is-cropped .blocks-gallery-item img {
    height: 100%;
    flex: 1;
    -o-object-fit: cover;
    object-fit: cover;
}

.wp-block-gallery.is-cropped .blocks-gallery-image a, .wp-block-gallery.is-cropped .blocks-gallery-image img, .wp-block-gallery.is-cropped .blocks-gallery-item a, .wp-block-gallery.is-cropped .blocks-gallery-item img {
    width: 100%;
}

/* スマホを基本にcssを記述 */

@media screen and ( max-width:30em) { 
    /* ~480px（スマホ縦） */
}

@media screen and (min-width:30em) and ( max-width:37.5em) { 
    /* 480px~600px（スマホ横） */
}

@media screen and (min-width:37.5em) and ( max-width:48em) {
    /*　600px~768px（タブレット）　*/
}

@media screen and (min-width:48em) and ( max-width:60em) {
    /*　768px~960px（タブレット）　*/
}

@media screen and (min-width:60em) and ( max-width:80em) {
    /*　960px~1280px（小型PC）　*/
}

/*-------------------*/
@font-face {
    font-family: "TBUDゴシック R";
    font-weight: 400;
    src: url("NotoSerifCJKjp-Regular.woff") format("woff");
    font-display: swap;
}

h1,h2,h3{
 font-family: "トーキング";
}
b{ }
a{color: #333333; text-decoration: none;}
a:hover{text-decoration: underline;}


/*footer*/
header{
  text-align: center;
 
    padding: 0.2rem 0 0.7rem 0;
    border-bottom: 1px solid #cccccc;
}
header img{
  width: 7rem;
}
footer {
    text-align: center;
    padding: 4rem;
    background-color: #CCCCCC;
}
footer .copy{
  font-size: 0.8rem;
}
footer .footer_category {
    font-size: 0.9rem;
    line-height: 1.3rem;
    margin-bottom:1rem;
}
footer ul.footer_category_menu{
  margin-bottom: 2rem;

}
footer ul.footer_category_menu li{
    font-size: 1rem;
    line-height: 2rem;
    list-style: none;
    margin-right: 0.5rem;
    text-decoration: underline;
  }

@media screen and (min-width:64em) {
header img{
  width: 8rem;
}
footer .footer ul.footer-menu{
  display: flex;
}
footer .footer ul.footer-menu li{

  }

}

/*-------------------*/

/* index.php
--------------------------------------------------------- */
.contener{

}
.contener .maincontener main{
  margin-top: 1.3rem;
}

.layout-01{
 margin-left: 1.7rem;
  margin-right: 1.7rem;
}
.layout-02{
 margin-left: 0.7rem;
  margin-right: 0.7rem;
}

@media screen and (min-width:48em) {
.contener{
   margin: auto;

}
.contener.post-entry-contener{
  justify-content: space-between;
 display: flex;
}
.contener.post-entry-contener .maincontener{
flex: 0 1 80%;
}
.contener.post-entry-contener .sidecontener{
flex: 0 1 20%; 
    margin-left: 0;
    background-color: #eeeeee;
    margin-right: 0;
    padding: 0 2rem;
}


.contener .maincontener main {

     width: 85%;
        margin-left: auto;
    margin-right: auto;

}
.layout-01{
 margin-left: auto;
  margin-right: auto;
}
}
/*-------------------
.item-box__item article
-------------------*/
.item-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.item-box .item-box__item{
flex: 0 1 100%;
}

.item-box .item-box__item article {
    margin: 0 0 3em 0;
    position: relative;
    display: block;
}

.item-box .item-box__item article a {}

.item-box .item-box__item article figure {

       margin: 0;
        overflow: hidden;
    height: 200px;/* トリミングしたい枠の高さ */
    position: relative;
      margin-bottom: 0.5em;
}

.item-box .item-box__item article figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.item-box .item-box__item article .postCategory {
    font-size: 0.8em;
}

.item-box .item-box__item article .postTitle {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: bold;
}

.item-box .item-box__item article time {
        font-size: 0.7rem;
    line-height: 1rem;

}

.item-box.category .item-box__item{
flex: 0 1 50%;
}
.item-box.category .item-box__item article figure {
    height: 130px;/* トリミングしたい枠の高さ */
}
.item-box.category .item-box__item article .postTitle {
    font-size: 0.9em;
}
/*トップページ　新着記事*/
.new-box .item-box .item-box__item{
flex: 0 1 50%;
}
.new-box .item-box .item-box__item:first-child{
flex: 0 1 100%;
}
.new-box .item-box .item-box__item article figure {
    height: 140px;/* トリミングしたい枠の高さ */
}
.new-box .item-box .item-box__item:first-child article figure {
    height: 200px;/* トリミングしたい枠の高さ */
}
@media screen and (min-width:64em) {
/*
.item-box.category .item-box__item article .postTitle {
    font-size: 1rem;
}*/
.item-box .item-box__item{
flex: 0 1 30%;
}

.item-box.category .item-box__item{
flex: 0 1 24.5%;
}
.new-box .item-box .item-box__item{
flex: 0 1 27%;
}
.new-box .item-box .item-box__item:first-child{
flex: 0 1 43%;
}
.pickup-box .item-box .item-box__item{
flex: 0 1 100%;
}

#index-top{
  display: flex;
}

#index-top .new-box{
flex: 0 1 75%;
}

#index-top .pickup-box{
  flex: 0 1 20%;
      margin-left: auto;
}

#index-top .item-box .item-box__item article .postTitle {
    font-size: 1.2rem;
}
.sideContent .item-box.category .item-box__item{
flex: 0 1 50%;
}
.sideContent .item-box .item-box__item article figure {
    height: 120px;/* トリミングしたい枠の高さ */
}

}

/*-------------------*/
/* sidecontener
--------------------------------------------------------- */

.sidecontener{
      margin: 0 1.7rem 0;

}
.sidebar__title{
    padding: 1.5rem 0;
    border-bottom: 1px solid;
    margin-bottom: 1rem;
}
.sidebar__archive-year{
 padding: 1.5rem 0;
}
ul.sidebar__archive-month{

}
ul.sidebar__archive-month li{
    list-style: none;
}
ul.sidebar__archive-month li a{
    display: block;
   /* width: 100%;*/
    padding: 1rem;
  }
/**/
ul#breadcrumb{
    display: flex;
    margin: 0 0 2rem 0;
    font-size: 0.8rem;
}
ul#breadcrumb li{
  list-style: none;

}
ul#breadcrumb li:not(:last-child):after {
    content: " > ";
     margin:0 1rem;
}

/*archive*/
.page-title{
    font-weight: normal;
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-align: center;
}

/*-------------------
共通パーツ
-------------------*/
.postcategory {
position: absolute;
    display: inline-block;
    top: 0.8em;
    left: 0.6em;

}

.postcategory ul{

display: flex;
}
.postcategory ul li{
list-style: none;
    margin-right: 0.5rem;
    background: #FFF;
    color: #333333;
    border-radius: 2em;
    vertical-align: middle;
    font-size: 0.7rem;
    padding: 0.5rem;

}
.img-area-under{
    margin-bottom: 2rem;
}
.img-area-under dl.lead {
  margin-bottom: 1rem;
}
.img-area-under dl.lead dt{
  font-size: 1.1rem;
  margin-bottom: 1rem;
  font-family: "TBUDゴシック E";
  line-height:1.5rem;
}
.img-area-under dl.lead dd{
  font-size: 0.9rem;
  line-height: 1.3rem;

  }
    .img-area-under .keyword {
         border: 1px solid #333333;
    font-size: 0.8rem;
    padding: 1rem;
    }
  .img-area-under .keyword p{
    font-weight: bold;
    margin-bottom: 0.6rem;
     font-size: 0.7rem;
  }
.img-area-under .keyword ul{
display: flex;
}
.img-area-under .keyword ul li{
  font-size: 0.85rem;
  list-style: none;
  margin-right: 0.5rem;
  text-decoration: underline;
}
  @media screen and (min-width:64em) { 
.img-area-under {
    display: flex;
  }
.img-area-under dl.lead{
 flex: 0 1 50%;
 margin-bottom: 0;
}
    .img-area-under .lead-sub {
       flex: 0 1 40%;
    margin-left: auto;
    }
}


/*-------------------
#post-entry figure
-------------------*/
#post-entry{

}

#post-entry .post-entry__img-area {
    position: relative;
    margin-bottom: 1.5rem ;
   /* background-color: #CCC;*/
}



#post-entry .post-entry__img-area figure {
    margin: 0;
        overflow: hidden;
    /*width: 600px; トリミングしたい枠の幅 */
    height: 220px;/* トリミングしたい枠の高さ */
    position: relative;
}

#post-entry .post-entry__img-area figure img {
    width: 100%;
    margin: 0 auto;
}

#post-entry .post-entry__title {
   
    margin: 0 1.7rem 0;
     margin-bottom: 1em;
}

#post-entry .post-entry__title h1 {
   margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: 1.4em;
}

#post-entry .post-entry__title time {
       font-size: 0.8rem;
    color: #333333;
    font-weight: bold;
}
#post-entry .post-entry__text-area{
   margin: 0 1.7rem 0;
}




#post-entry .post-entry__text-area h2 {
 font-size: 1.6rem;
    line-height: 2rem;
    /* font-weight: bold; */
    padding: 1.5rem 0 3rem 0;
    border-top: 1px solid #CCCCCC;
}

#post-entry .post-entry__text-area h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    border-left: 5px solid #333333;
    padding: 1rem;

}

#post-entry .post-entry__text-area p {
      margin-bottom: 2.5em;
    line-height: 2em;
}
#post-entry .post-entry__text-area p.lead{
  display: flex;
}
#post-entry .post-entry__text-area a{
   
}

#post-entry .post-entry__text-area a:hover{
    text-decoration: underline;
}

#post-entry .post-entry__text-area p img {
    width: 90%;
}

#post-entry .post-entry__text-area p strong{
    background: linear-gradient(transparent 50%, yellow 50%);

}

#post-entry .post-entry__text-area ul {
      margin-bottom: 2em;
    display: flex;
    max-width: 700px;
    margin: 0 auto 3rem auto;

}
#post-entry .post-entry__text-area ul li{
    margin-bottom: 0.5em;
      width: calc((100% - 16px)/2);
}
#post-entry .post-entry__text-area ul li:last-child{
    margin-bottom: 0;
        margin-right: 0;
}


.wp-block-image figcaption {
    margin-top: .5em;
    margin-bottom: 1em;
    color: #555d66;
    text-align: center;
    font-size: 13px;
}
#post-entry figure.wp-block-image{
      max-width: 750px;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

.wp-block-image img {
    max-width: 100%;
}
@media screen and (min-width:64em) {
  #post-entry .post-entry__text-area ul {
    padding: 2em; 

}
  /*コンテンツ幅*/
  #post-entry .post-entry__text-area{
   margin:  0;
}
#post-entry .post-entry__title {
    margin: 0 0 1em 0;
}

#post-entry .post-entry__title h1 {
    font-size: 1.9rem;
    margin-bottom: 0.2rem;
}


/*map*/
#post-entry .lazyloaded.g-map{
    margin-bottom: 2em;
}


#post-entry .post-entry__img-area figure {
    height: 500px;/* トリミングしたい枠の高さ */
}
#post-entry .post-entry__img-area figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

#post-entry .post-entry__text-area p img {
  width: 60%;
}
    }



/*引用*/
blockquote {
    position: relative;
    padding: 30px 30px 8px 30px;
    box-sizing: border-box;
    font-style: italic;
       border: 1px solid #f4f0f0;
    color: #555;
    margin: 0 0 2em 0;
}
blockquote:before{
    display: inline-block;
    position: absolute;
    top: -2.2rem;
    left: -3.1rem;
    vertical-align: middle;
    content: "“";
    font-family: sans-serif;
    color: #e8f0f0;
    font-size: 13rem;
    line-height: 1;
    z-index: -1;
}
blockquote p {
    padding: 0 !important;
    margin: 10px 0 !important;
    line-height: 1.7 !important;
    font-size: 0.9em;
}
blockquote p strong{
    font-size: 1em;
}
blockquote cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.7em;
    word-break: break-all;
}


/* #toc mokuji
--------------------------------------------------------- */

/*toc*/

#toc {
    padding: 1rem;
    text-align: center;
    background-color: #f9f9f9;
}
 
#toc .mokuji{
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
}
#toc ol {
  padding: 0;
  text-align: left;
}
 
#toc ol li {
  font-size: 0.9rem;
  line-height: 1.5rem;
  list-style-position: inside;
  color: #333333;
      list-style-type: decimal;
 text-indent: -1em;
  padding-left: 2em;
}
 
#toc ol a {
     font-size: 0.85rem;
    text-decoration: underline;
}
 
#toc ol a:hover {
  
}
 
#toc ol>ol {
  margin: 0;
  padding-left: 15px;
}
 
#toc ol>ol li {
  font-size: 1em;
  font-weight: 500;
}
 
@media screen and (min-width:64em) {
  #toc {
 padding: 20px;
  }
}


/*合わせて読みたい*/
.awasete{
    margin-bottom: 2rem;
}
.awasete .awasete__title{
    border: none;
    margin: 0;
    padding: 0;
}
.awasete .awasete__title span{
    background: #333;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding:5px 10px;
}
.awasete .awasete__title i{
    margin-right: 5px;
}
.awasete .awasete__list{
    border: 1px solid #ccc;
    padding: 20px;
}
.awasete .awasete__list__item{
    list-style: none;
    margin:0 0 20px 0;
}
.awasete .awasete__list__item:last-child{
    margin-bottom: 0;
}
.awasete .awasete__list__item__link{
      display: flex;
    text-decoration: none;
    box-shadow: none;
}
.awasete .awasete__list__item__link__image{
    margin: 0 15px 0 0 ;
    overflow: hidden;
    height: 100px;
    position: relative;
    width: 100px;
}
.awasete .awasete__list__item__link__image img{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}
.awasete .awasete__list__item__link__content{
   /* width: 75%;*/
}

.awasete .awasete__list__item__link__content__title{
    font-weight: bold;
}
.awasete .awasete__list__item__link__content__title:before{
    content: none;
}
.awasete .awasete__list__item__link__content__date{
    color: #666;
    font-size: 14px;
}

/*index_top のみ*/
h3.index_obi{
    padding: 0.5rem 0 ;
    text-align: center;
    margin-bottom: 0.9rem;
}
h4.index_title{
  padding: 1rem 0;
      font-size: 1.3rem;
      margin-bottom: 1rem;
      text-align: center;
}

.sns-btns ul{
  display: flex;
   justify-content: flex-end;
}
.sns-btns ul li{
  margin: 0.5rem 0 0 0.5rem;
}
/*koukoku*/
.code-block{
  padding-bottom: 2rem;
}
.post-entry__text-area .adsbygoogle{width: 80%; margin: 0 auto; }
.sidecontener  .adsbygoogle{width: 80%; margin: 2rem auto; }
@media screen and (min-width:64em) {
  .post-entry__text-area .adsbygoogle { 
    width: 80%; height: 60px; margin: 0 auto; 
  }
 .sidecontener .adsbygoogle { 
    width: 80%; height: 60px; 
  }
   }
   /****************************************

          TOPへ戻るボタン（Go to top）

*****************************************/
#page-top{
    position:fixed;
    right:1rem;
    bottom:1rem;
    display: none;
    z-index:9999;
}

#page-top a{
    color:#fff;
    padding:1.2rem;
    text-decoration:none;
    display:block;
    cursor:pointer;
    text-align:center;
    background:#aaa;
    line-height:100%;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
     -moz-border-radius: 2rem; 
}

#page-top a:hover{
    background:#8b8b8b;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    transition:all 0.3s;
}